@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

/**navor header section start**/
.bg-coffee
{
    background:#3A2313
}
.bg-light-orange
{
    background: #fff9f1;
}
.coffee-border
{
    border:1px solid #feedd0;
}

h1
{
    color:#603807;
    font-size: 50px;
}
h3
{
    color:#603807;
    font-size: 50px;
}
p
{
    color:#603807;
   
}
/** nav section start**/
.nav-link
{
    color:#ffffffb3;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show{
    color:#fff;
    font-weight:500;
}
.nav-link:focus,
.nav-link:hover{
    color:#752c2c;
    transition: color 0.3s ease;

}
.navbar img{
    width:70px ;
    height: 80px;
}
/**navor header section end**/

/** banner section start**/
.hero
{
    width:100%;
    color:#fff;
    background: linear-gradient(#00000080,#00000080),url(../img/banner.png);
    background-size:cover;
}

.hero  .coffee{

    font-size: 150px;
    font-family:"Dancing Script", cursive;
    font-weight:normal;

}
/** banner section end**/

/** bests style section start**/
.coffee-style img
{
    height: 270px;
    width: 270px;
}

/** bests style section end**/



.differnt img{
    height: 70px;
    width: 70px;
}


.coffeecafe
{
    background: linear-gradient(#2f030380,#5e232380),url(../img/c2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    margin: 30px;
}
.carousel-caption{
    top:0px;
    padding-top:185px;
}
.feedback img{
    height: 200px;
    width: 50;
  border-radius: 20%;
}



.bordersection
{
    border-style:dashed ;
    margin-top: 50px;
  border-width: 2px;
  border-spacing:8px;
  border-spacing: 20px;
  border-color: #715fab;
}



.feedback2 {
    padding: 80px;
    margin: 50px;
}


/** subsribe  section start**/
.sub{
    background:  linear-gradient(#2f030380,#5e232380),url(../img/c1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.border1 
{
    border-style:dashed ;
    border-color: #715fab;
}
.sub{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.sub input{
    background: #e1dad1;
    width: 700px;
    height:40px;
    text-decoration: none;
    text-decoration-style: none;
    
}
.sub button
{
    background: rgb(197, 125, 16);
    text-decoration: none;
    height:40px;
    text-decoration-style: none;
}

.header
{
    background: linear-gradient(#74080898,#955b5b80)#55320A;
 
    background-size:cover;
   background-position: center;
}



/** subsribe  section end**/


/** header  section start**/
.header h4
{
    font-family:"Dancing Script",cursive;
    font-weight:normal;
    font-size: 50px;

}
.header
{
    display: flex;
    justify-content: center;
    justify-items: right;
    text-align: start;
    text-align: justify;
    text-decoration: none;
}


/** header section end**/